body {
    background-color: rgb(240, 240, 227);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.github-container {
    display: grid;
    
    gap: 1.5em;
}

.github-user {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 57, 57);

    min-width: 400px;
    margin-inline: 2em;
}

@media only screen and (min-width: 600px) {
    .github-user {
        width: 800px;
    }

    .github-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.github-title {
    text-align: center;
    margin-bottom: 2em;
}

.user-container {
    display: flex;
    align-items: center;
    gap: .8em;

    padding-block: .5em;
    padding-inline: 1em;
    
    background-color: white;
}

.profile--container {
    max-height: 2.2em;
    max-width: 2.2em;
}

.profile--container img {
    border-radius: 50%;
}

.user--text {
    text-transform: capitalize;  
    font-size: 90%;
}

.profile {
    font-size: .8em;
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
}